<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karmcredapp">

    <!-- THIS IS THE MOST IMPORTANT LINE: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!-- We will link your Activity files here later! -->
    </application>

</manifest>